<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StandardFileSourcePath" value="C:\Users\Harjinder\source\repos\CsvTransformationSystem\TransformCsvFormat\TestData\StandardFormatInput.csv" />
    <add key="CustomFormatWithHeaderFileSourcePath" value="C:\Users\Harjinder\source\repos\CsvTransformationSystem\TransformCsvFormat\TestData\CustomFormatWithHeader.csv" />
    <add key="CustomFormatWithoutHeaderFileSourcePath" value="C:\Users\Harjinder\source\repos\CsvTransformationSystem\TransformCsvFormat\TestData\CustomFormatWithoutHeader.csv" />
    <add key="StandardFileOutputPath" value="C:\Users\Harjinder\source\repos\CsvTransformationSystem\TransformCsvFormat\TestData\StandardFormatOutput.csv" />
  </appSettings>
</configuration>