<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StandardFileSourcePath" value="C:\Users\Harjinder\source\repos\CsvTransformationSystem\ConsoleTestApp\TestData\StandardFormatInput.csv" />
    <add key="CustomFormatWithHeaderFileSourcePath" value="C:\Users\Harjinder\source\repos\CsvTransformationSystem\ConsoleTestApp\TestData\CustomFormatWithHeader.csv" />
    <add key="CustomFormatWithoutHeaderFileSourcePath" value="C:\Users\Harjinder\source\repos\CsvTransformationSystem\ConsoleTestApp\TestData\CustomFormatWithoutHeader.csv" />
    <add key="StandardFileOutputPath" value="C:\Users\Harjinder\source\repos\CsvTransformationSystem\ConsoleTestApp\TestData\StandardFormatOutput.csv" />
  </appSettings>
</configuration>